# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    continue-on-error: ${{ matrix.config.must_pass }}

    strategy:
      fail-fast: false
      matrix:
        config:
            # Windows
          - {os: windows-latest, r: 'release', must_pass: true}
            # Use 3.6 to trigger usage of RTools35
          - {os: windows-latest, r: '3.6', must_pass: false}
            # Linux
          - {os: ubuntu-latest, r: 'devel', http-user-agent: 'release', must_pass: false}
          - {os: ubuntu-latest, r: 'release', must_pass: true}
          - {os: ubuntu-latest, r: '4.1.2', must_pass: true}
          - {os: ubuntu-latest, r: '4.0.2', must_pass: true}
          - {os: ubuntu-latest, r: '3.6.1', must_pass: false}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
